.notification-item {
  cursor: pointer;
  transition: transform 0.3s;
}

.notification-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-title {
  font-weight: bold;
}

.notification-date {
  color: #777;
}

.notification-description {
  margin-top: 10px;
}

.notification-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.notification-file {
  margin-top: 10px;
}
